{% extends 'base.html' %}
{% load static %}

{% block content %}
    

    <!-- Section À Propos avec vidéo -->
    <section id="about" class="py-5">
        <div class="container">
            <h2 class="mb-4">Découvrez Django Niger</h2>
            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <img src="{% static 'images/django-niger.png' %}" alt="À Propos de Django Niger" class="img-fluid rounded">
                </div>
                <div class="col-lg-6">
                    <p>
                        Au cœur de l'Afrique, une communauté dynamique et passionnée prend vie : Django Niger. Née de l'aspiration à connecter les développeurs, novices et experts, autour du framework Django, notre communauté est un carrefour d'échange, d'innovation et d'apprentissage. Chez Django Niger, nous croyons fermement en la puissance de la collaboration et du partage des connaissances pour repousser les frontières du développement web.
                    </p>
                    <p>
                        Notre communauté est un mélange vibrant de développeurs expérimentés, de passionnés de la technologie et d'individus curieux, tous unis par une passion commune pour Django. Ensemble, nous explorons les possibilités infinies de Django, en partageant nos expériences, nos défis et nos succès.
                    </p>
                    <p>
                        Notre programme est conçu pour stimuler l'apprentissage continu et la croissance professionnelle. Il comprend des ateliers pratiques, des séances de codage collaboratives, et des discussions sur les tendances actuelles du développement web. Nous organisons également des événements réguliers, où les membres peuvent se connecter, apprendre et s'inspirer les uns des autres.
                    </p>
                    <p>
                        Django Niger est plus qu'une communauté ; c'est une famille en pleine expansion où chaque membre apporte sa touche unique.
                    </p>
                    
                </div>
            </div>
        </div>
    </section>

    <!-- Section des Événements à Venir -->
    {% if upcoming_events %}
        <section class="events-section py-5">
            <div class="container">
                <h2 class="text-center mb-4">Événements à Venir</h2>
                <p>Ne manquez pas nos prochains meetups, workshops, et conférences...</p>
                <!-- Liste des événements -->
                <div class="row">
                    {% for event in upcoming_events %}
                        <div class="col-md-4 mb-4 d-flex align-items-stretch">
                            <div class="card w-100">
                                {% if event.image %}
                                    <img src="{{ event.image.url }}" class="card-img-top img-fluid" alt="{{ event.title }}" style="height: 200px; object-fit: cover;">
                                {% endif %}
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{ event.title }}</h5>
                                    <p class="card-text">{{ event.date_time|date:"d M, Y H:i" }}</p>
                                    <div class="mt-auto">
                                        <a href="{% url 'evenement:event_detail' event.id %}" class="btn btn-primary">Détails</a>
                                        <a href="{% url 'evenement:register_to_event' event.id %}" class="btn btn-secondary">S'inscrire</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <!-- Bannière d'appel à l'action -->
    <div class="call-to-action bg-success text-white text-center py-5">
        <div class="container">
            <h2>Rejoignez-nous aujourd'hui!</h2>
            <p>Devenez membre de Django Niger et profitez de nos avantages exclusifs.</p>
            <a href="/join" class="btn btn-light">Inscrivez-vous maintenant</a>
        </div>
    </div>

    <!-- Section des Fonctionnalités -->
    <section class="features-section bg-light py-5">
        <div class="container">
            <h2 class="text-center mb-4">Fonctionnalités Clés</h2>
            <div class="row">
                <!-- Forums de Discussion -->
                <div class="col-md-4 text-center">
                    <img src="{% static 'images/forum-django.png' %}" alt="Forums de Discussion" class="img-fluid mb-3">
                    <h3 class="h4">Forums de Discussion</h3>
                    <p>Participez à des discussions enrichissantes sur Django et ses applications.</p>
                </div>
                <!-- Workshops et Formations -->
                <div class="col-md-4 text-center">
                    <img src="{% static 'images/WorkshopsetFormations.png' %}" alt="Workshops et Formations" class="img-fluid mb-3">
                    <h3 class="h4">Workshops et Formations</h3>
                    <p>Participez à nos ateliers et formations pour développer vos compétences en Django.</p>
                </div>
                <!-- Projets Collaboratifs -->
                <div class="col-md-4 text-center">
                    <img src="{% static 'images/ProjetsCollaboratifs.png' %}" alt="Projets Collaboratifs" class="img-fluid mb-3">
                    <h3 class="h4">Projets Collaboratifs</h3>
                    <p>Engagez-vous dans des projets passionnants et collaborez avec d'autres développeurs.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Section Témoignages -->
    <section class="testimonials-section bg-light py-5">
        <div class="container">
            <h2 class="text-center mb-4">Témoignages</h2>
            <div class="row">
                <!-- Exemple de Témoignage -->
                <div class="col-md-6 mb-3">
                    <blockquote class="blockquote">
                        <p class="mb-0">"Rejoindre Django Niger a été une expérience incroyable pour ma carrière de développeur."</p>
                        <footer class="blockquote-footer">Ali, Développeur Web</footer>
                    </blockquote>
                </div>
                <!-- Autre Témoignage -->
                <div class="col-md-6 mb-3">
                    <blockquote class="blockquote">
                        <p class="mb-0">"Les workshops organisés par Django Niger m'ont permis d'améliorer mes compétences en Django de manière significative."</p>
                        <footer class="blockquote-footer">Fatou, Ingénieure Logiciel</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
