
{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5" style="border-radius: 10px;">
                <div class="card-header text-center">
                    <h2>{% trans "Forgot Password?" %}</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'account_reset_password' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">{% trans "Email address" %}</label>
                            <input type="email" name="email" id="email" class="form-control form-control-lg " placeholder="Email" required>
                        </div>
                        <button type="submit" class="btn btn-primary   p-3 rounded-pill mt-3">{% trans "Réinitialiser le mot de passe" %}</button>
                    </form>
                </div>
            </div>
            <div class="text-center mt-3">
                <p><a href="{% url 'account_login' %}">{% trans "Retour a la page de  connexion" %}</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
