{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class=" block max-w-3xl mx-auto my-4 md:my-12 px-3 row align-items-center justify-content-center">
      <div class="rounded-5 card shadow-lg   mt-5  mb-2 py-3 px-4 " style="border-radius: 10px;">
            <h1>Inscris toi a Django Niger</h1>
            <p>Tu as déjà un compte?
                <a href="{% url 'account_login' %}">Connecte toi ici.</a>
            </p>
            <form method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {% if field.name == 'password1' %}
                            <input type="password" class="form-control form-control-lg " name="{{ field.name }}" placeholder="Password">

                        {% elif field.name == 'password2' %}
                             <input type="password" class="form-control form-control-lg " name="{{ field.name }}" placeholder="Password(confirmation)">

                        {% else %}
                                <input type="text" class="form-control form-control-lg " name="{{ field.name }}" placeholder=" {{ field.name }}">
                        {% endif %}

                        {% if field.help_text %}
                            <small class="form-text ">{{ field.help_text }}</small>
                        {% endif %}
                        {% if field.errors %}
                            <p class="form-text  text-danger">
                                {{ field.errors }}
                            </p>
                        {% endif %}
                    </p>

                {% endfor %}
                 <button  type="submit"  class="align-items-center btn btn-primary btn-lg px-4 rounded-pill">{% trans "S'inscrire" %}</button>

          </form>
      </div>

</div>
{% endblock %}
