anyascii==0.3.2
anyio==4.3.0
asgiref==3.7.2
beautifulsoup4==4.11.2
black==23.12.1
Cerberus==1.3.5
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==41.0.7
defusedxml==0.7.1
Django==5.0.1
django-allauth==0.60.1
django-filter==23.5
django-jazzmin==3.0.0
django-modelcluster==6.2.1
django-permissionedforms==0.1
django-taggit==4.0.0
django-treebeard==4.7
djangorestframework==3.14.0
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
filetype==1.2.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.4
httpretty==1.1.4
httpx==0.27.0
idna==3.6
Jinja2==3.1.3
kolo==2.19.0
l18n==2021.3
MarkupSafe==2.1.5
more-itertools==10.2.0
msgpack==1.0.7
mypy-extensions==1.0.0
oauthlib==3.2.2
openpyxl==3.1.2
packaging==23.2
pathspec==0.12.1
pillow==10.2.0
pillow-heif==0.14.0
platformdirs==4.1.0
pycparser==2.21
PyJWT==2.8.0
python-dateutil==2.8.2
python-decouple==3.8
python3-openid==3.2.0
pytz==2023.3.post1
requests==2.31.0
requests-oauthlib==1.3.1
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
sqlglot==23.17.0
sqlparse==0.4.4
telepath==0.3.1
time-machine==2.13.0
toolz==0.12.1
ulid-py==1.1.0
urllib3==2.1.0
wagtail==5.2.2
webencodings==0.5.1
Willow==1.6.3
