{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Template pour les détails de l'événement -->
<div class="container mt-4">
    <h1 class="display-4 mb-3" style="color: #092E20; font-weight: bold;">{{ event.title }}</h1>

    {% if event.image %}
        <img src="{{ event.image.url }}" class="img-fluid rounded mb-4" alt="{{ event.title }}">
    {% endif %}

    <div class="row">
        <div class="col-lg-8 mb-4">
            <!-- Description, Détails, et Statistiques -->
            <div class="card border-primary mb-3">
                <div class="card-header bg-primary text-white">Description</div>
                <div class="card-body">
                    <p class="card-text">{{ event.description }}</p>
                </div>
            </div>

            <div class="card border-success mb-3">
                <div class="card-header bg-success text-white">Détails</div>
                <div class="card-body">
                    <p class="card-text"><strong>Date et Heure:</strong> {{ event.date_time|date:"d M, Y H:i" }}</p>
                    <p class="card-text"><strong>Lieu:</strong> {{ event.location }}</p>
                    <p class="card-text"><strong>Catégorie:</strong> {{ event.category.name }}</p>
                    <p class="card-text"><strong>Nombre de Participants:</strong> {{ event.registrations.count }}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <!-- Participants -->
            <div class="card border-info mb-4">
                <div class="card-header bg-info text-white">Participants</div>
                <ul class="list-group list-group-flush">
                    {% for registration in event.registrations.all %}
                        <li class="list-group-item">{{ registration.participant.username }}</li>
                    {% empty %}
                        <li class="list-group-item">Aucun participant inscrit</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Organisateurs -->
            <div class="card border-warning">
                <div class="card-header bg-warning text-dark">Organisateurs</div>
                <ul class="list-group list-group-flush">
                    {% for organizer in event.organizers.all %} 
                        <li class="list-group-item">
                            {% if organizer.profile_photo %}
                                <img src="{{ organizer.profile_photo.url }}" class="rounded-circle" alt="{{ organizer.username }}" style="height: 30px; width: 30px;">
                            {% else %}
                                <img src="{% static 'images/default_profile.png' %}" class="rounded-circle" alt="Default Profile" style="height: 30px; width: 30px;">
                            {% endif %}
                            {{ organizer.username }}
                        </li>
                    {% empty %}
                        <li class="list-group-item">Pas d'organisateurs</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Boutons de partage sur les réseaux sociaux -->
    <!-- Boutons de partage sur les réseaux sociaux -->
    <div class="mt-4 mb-5 text-center">
        <h5>Partager cet événement</h5>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" class="btn btn-primary mr-2">
            <i class="fab fa-facebook-f"></i> Facebook
        </a>
        <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ event.title }}" target="_blank" class="btn btn-info mr-2">
            <i class="fab fa-twitter"></i> Twitter
        </a>
        <a href="https://api.whatsapp.com/send?text={{ event.title }} - {{ request.build_absolute_uri }}" target="_blank" class="btn btn-success mr-2">
            <i class="fab fa-whatsapp"></i> WhatsApp
        </a>
        <a href="mailto:?subject={{ event.title }}&body={{ request.build_absolute_uri }}" target="_blank" class="btn btn-danger">
            <i class="fas fa-envelope"></i> Email
        </a>
    </div>
</div>
{% endblock content %}
