{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="flex mx-auto my-5 md:my-12 px-3 row  justify-content-center">
      <div class="flex  align-items-center rounded-lg card col-md-8 shadow-lg mt-5 mb-5 py-4 px-4 ">

          <img  width="200"  style="border-radius: 50%; background-size: cover;" height="200" src="{{ profile.avatar }}" />

          <div class="text-center ">
                    <h1 class="display-5 fw-bold text-body-emphasis">{{ user.username }}</h1>
                    <div class="text-gray-400 mb-2 -mt-3">{{ profile.user.email }}</div>
                    <div class=" ">
                        {% if profile.bio %}
                        {{ profile.bio }}
                        {% else %}
                        Professional procrastinator
                        {% endif %}
                    </div>
          </div>
          <a href="{% url 'user:profile_update' %}"><button  type="submit"  class="align-items-center mt-3 btn btn-primary btn-lg px-4 rounded-pill">Modifier</button></a>

      </div>

</div>
{% endblock %}
